<div class="container">
    <div class="row pt-4">
        <div class="col-md-8">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="./assets/images/article-0010.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/article-0011.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/article-0012.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/article-0013.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/slider005.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/slider0013.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/slider0014.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/slider0015.jpg" class="d-block w-100">
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 dg-word">
            <div class="card card-directeur">
                <img src="./assets/images/image8.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mr Berthe onagna</h5>
                    <p class="text-muted" style="font-size: 0.875rem;">Directeur Général</p>
                    <p class="card-text">J’ai le plaisir de vous accueillir aujourd’hui sur ce nouveau portail de l’Institut National de Formation Professionnelle Agricole (INFPA). </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-diplome">
                        <div class="card-body">
                            <h4 class="card-title-formation text-center pb-2">Formations Diplômantes</h4>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="bts-header">
                                            BTS Agricole
                                        </td>
                                        <td class="bts-info">
                                            Diplôme requis : 
                                            <span style="font-weight: 600;color: red;">BAC</span><br> 
                                            Age limite :
                                            <span style="font-weight: 600;color: red;">34 ans</span><br>
                                            Durée de la scolarité : 
                                            <span style="font-weight: 600;color: red;">2 ans</span><br> 
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td class="bt-header">
                                            BT Agricole
                                        </td>
                                        <td class="bt-info">
                                            Diplôme requis : 
                                            <span style="font-weight: 600;color: red;">BAC</span><br> 
                                            Age limite :
                                            <span style="font-weight: 600;color: red;">34 ans</span><br>
                                            Durée de la scolarité : 
                                            <span style="font-weight: 600;color: red;">2 ans</span><br> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="card-title-formation text-center pt-3">Communiqué</h4>
                            <ul class="list-communique">
                                <li><a href="communiques/communique_01_01_2018.pdf" target="_blank"> <span class="text-danger"> [du 11 au 19 février 2019] </span> <span class="text-bold">Communiqué : </span>La soutenance des rapports de fin de stage des étudiants de l'INFPA se déroulera du 11 au 19 février 2019</a></li>
                                <li><a href="communiques/communique_01_01_2018.pdf" target="_blank"> <span class="text-danger"> [11/01/2018] </span> <span class="text-bold">Communiqué : </span>Il est ouvert au titre de l'année académique 2017-2018, un concours d'entrée à l'INFPA pour la formation aux cycles des BTA et BTSA...</a></li>
                                <li><a href="communiques/communique_20_12_2017.pdf" target="_blank"> <span class="text-danger"> [20/12/2017] </span> <span class="text-bold">Communiqué : </span>Le Directeur de l'INPA informe les fonctionnaires-élèves et le personnel que la composition de L'EXAMEN FINAL DU TRONC COMMUN 2017 du BTSA aura lieu du 08 au 11 Janvier 2018 à l'ERA-SUD.</a></li>
                                <li><a href="communiques/note_information_15_12_2017.pdf" target="_blank"> <span class="text-danger"> [15/12/2017] </span> <span class="text-bold">Note d'Information : </span>Les personnes dont les noms suivent sont chargées de représenter la direction dans les différents jurys de soutenance des établissements au titre de l'année scolaire 2016-2017 conformément au tableau ci-joint. </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-diplome">
                        <div class="card-body">
                            <h4 class="card-title-formation text-center pb-2">Formations Qualifiantes</h4>
                            <ul class="list-formations">
                                <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Production et Valorisation Agricoles</li>
                                <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Elévage<br>
                                </li>
                                <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Pisciculture<br>
                                </li>
                                <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Héliciculture (élevage d'escargot)<br>
                                </li>
                                <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Protecttion de l'environnement </li>
                            </ul>
                            <h4 class="card-title-formation text-center pt-3">Avis de Recrutement</h4>
                            <ul class="list-recrutement">
                                <li>
                                <img src="./assets/images/icon-logo.png" class="img-fluid mr-3"><br>
                                <a href="recrutement/technico.pdf" target="_blank">
                                <span style="font-size: 14px;font-weight: bold;text-decoration: blink;color: #C00;">Avis de recrutement : </span>
                                <span class="text-danger"> [11/01/2018] </span><br>
                                 Recrutement de 25 Technico-commerciaux par une entreprise spécialisée dans le phytosanitaire...
                                 </a></li>        
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="zone-title">
                <h2 class="zone-title-text">Résultats du conseil d'orientation et d'évaluation BT</h2>
            </div>
            <ul class="list">
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Agriculture et Coopération 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Elévage et Métiers de la Viande
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Fôresterie et Environnement 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Halieute 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Redouble
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Exclu 
                    </a>
                </li>
            </ul>
            <div class="zone-title">
                <h2 class="zone-title-text">Résultats du conseil d'orientation et d'évaluation BTS</h2>
            </div>
            <ul class="list">
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Agriculture et Coopération 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Elévage et Métiers de la Viande
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Fôresterie et Environnement 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Halieute 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Redouble
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Exclu 
                    </a>
                </li>
            </ul>
            <div class="zone-title">
                <h2 class="zone-title-text">Résultats du conseil d'orientation et d'évaluation Professionnels</h2>
            </div>
            <ul class="list">
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Agriculture et Coopération 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Elévage et Métiers de la Viande
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Fôresterie et Environnement 
                    </a>
                </li>
                <li>
                    <a href="" class="text-lien">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        Halieute 
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-12">
            <div class="zone-header">
                <h2 class="zone-header-text">Actualités</h2>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-3">
            <div class="article">
                <img src="./assets/images/article-0010.jpg" class="img-fluid" alt="">
                <div class="card-a">
                    <h6 class="label-top pt-2">Politique</h6>
                    <div class="description">
                        <a href="">
                            SARA 2017 : la problématique de la Transformation structurelle de l’économie agricole
                        </a>
                        <p>La 4e édition du Salon International de l’Agriculture et des Ressources Animales d’Abidjan...</p>
                        <span>Publié le : 17/11/2017</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="article">
                <img src="./assets/images/article2.jpg" class="img-fluid" alt="">
                <div class="card-a">
                    <h6 class="label-top pt-2">Politique</h6>
                    <div class="description">
                        <a href="">
                            Encore deux semaines pour achever les travaux d’aménagement du site, le ministre Sangafowa descend sur le terrain
                        </a>
                        <p>Le ministre de l’Agriculture et du développement durable, Mamadou Sangafowa.... </p>
                        <span>Publié le : 06/11/2017</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="article">
                <img src="./assets/images/article1.jpg" class="img-fluid" alt="">
                <div class="card-a">
                    <h6 class="label-top pt-2">Politique</h6>
                    <div class="description">
                        <a href="">
                            La Fonction publique et l’INFPA s’unissent pour la formation des fonctionnaires
                        </a>
                        <p> Abidjan, 13 oct (AIP) -Le Directeur général de la Fonction publique, Aka Koffi Bernard et le Directeur de l'institut...</p>
                        <span>Publié le : 13/10/2017</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-opportunite">
                <h6>Corps de metiers et Débouchés</h6>
                <ul>
                    <li>
                        <a href="">Agriculture et cooperation</a>
                    </li>
                    <li>
                        <a href="">Foresterie et environnement</a>
                    </li>
                    <li>
                        <a href="">Aquaculture et peche</a>
                    </li>
                    <li>
                        <a href="">Elevage et metiers de la viande</a>
                    </li>
                    <li>
                        <a href="">Agrotransformation</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <div class="zone-header">
                <h2 class="zone-header-text">Vidéos a la une</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="article">
                <img src="./assets/images/image1.jpeg" class="img-fluid" alt="">
                <div class="card-a">
                    <div class="description">
                        <a href="">
                            L'INFPA au 13 Heures de RTI 1 du 20 Novembre 2017
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="article">
                <img src="./assets/images/image1.jpeg" class="img-fluid" alt="">
                <div class="card-a">
                    <div class="description">
                        <a href="">
                            L'INFPA au 13 Heures de RTI 1 du 20 Novembre 2017
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="article">
                <img src="./assets/images/image1.jpeg" class="img-fluid" alt="">
                <div class="card-a">
                    <div class="description">
                        <a href="">
                            L'INFPA au 13 Heures de RTI 1 du 20 Novembre 2017
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="article">
                <img src="./assets/images/image1.jpeg" class="img-fluid" alt="">
                <div class="card-a">
                    <div class="description">
                        <a href="">
                            L'INFPA au 13 Heures de RTI 1 du 20 Novembre 2017
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <div class="zone-header">
                <h2 class="zone-header-text">Galérie</h2>
            </div>
        </div>
    </div>
<!--     <div class="row">
        <div class="col-md-8">
            ici code de la galerie
        </div>
    </div> -->


</div>
<div class="container-fluid">
    <div class="bg pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h6 class="text-news text-center">Abonnez vous a notre newslatter</h6>
                <input type="text" class="form-control inputNewsletter">
                <div class="pt-3 text-center">
                    <button class="btn btn-primary btnValider">Soumettre</button>
                </div>
            </div>
        </div>
    </div>
</div>