<!-- footer -->
<div class="container" style="background-color:#ec8c02;">
    <div class="row pt-4" >
        <div class="col-md-4">
            <a href="/"><img src="./assets/images/logo_infpa.png" class="img-fluid" alt=""></a>
        </div>
    </div>
    <div class="row footerClass">
        <div class="col-md-4 ">
            <h5 style="color:white;font-size: 0.875rem;" class="pt-4">Contactez-nous</h5>
            <p style="color:white; font-size: 0.875rem;"><i class="fa fa-phone mr-2" ></i>+225 22-43-71-53</p>
            <p style="color:white; font-size: 0.875rem;"><i class="fa fa-fax mr-2" ></i>+225 22-43-71-15</p>
            <p style="color:white; font-size: 0.875rem;"><i class="fa fa-envelope mr-2" ></i> info@infpa.ci</p>
        </div>
        <div class="col-md-4">
            <h5 style="color:white;font-size: 0.875rem;" class="pt-4">Liens Utiles</h5>
            <ul class="menu">
                <li><a href="infpa_mot_directeur.php"> Mot du Directeur</a></li>
                  <li><a href="infpa_direction.php">La Direction</a></li>
                  <li><a href="infpa_mission.php">Notre Mission </a></li>
                  <li><a href="infpa_organe_gestion.php">Organes de Gestion</a></li>
                  <li><a href="infpa_strategie-redynamisation.php">Stratégie de redynamisation </a></li>
                  <li><a href="infpa_contact.php">Contactez nous </a></li>
            </ul>

        </div>
        <div class="col-md-4" style="color:#5c6c6b;">
            <h5 class="pt-4" style="color:white !important;font-size: 0.875rem;">Horaires d'Ouverture</h5>
            <p class="horaire">Lundi - Mardi : 6.00  - 18.00 </p>
            <p class="horaire">Mercredi - Jeudi : 08.00  - 19.00</p>
            <p class="horaire">Vendredi : 09.00  - 16.00</p>
            <p class="horaire">Samedi :     10 : 00 - 16: 00</p>
        </div>
    </div>
    <div class="copyright">
        <div class="row">
            <div class="col-md-12 pt-3 text-center">
                <p>Copyright 2020 <span style="font-weight:600 ;">INFPA</span></p>
            </div>

        </div>
    </div>
</div>

